p#msg_empty {
    display: none;
}

div.oe_web_google_map.map {
    display: none;
	width: 100%;
	height: 300px;
	border: 1px solid #000000;
}

button#refresh {
        margin-top: 10px;
}

button#gcb {
	margin-top: 10px;
}
